
<br><br><br><br><br><br><br>

<div>

    <h1>Login</h1>

    <%= form_with url: login_path, local: true do |f| %>

        <%= f.label :email %>
        <br>
        <%= f.text_field :email %>
        <br><br>

        <%= f.label :password %>
        <br>
        <%= f.password_field :password %>

        <br><br>
        <%= f.submit 'Login' %>
    <% end%>

    <% if flash[:error]  %>
    <br>
    <p><strong><%= flash[:error] %></strong></p>
    <br>
    <% end %>
    <br><br>
    <%= link_to 'Sign Up', new_user_path %>

</div>
