<%= form_with model: @user, local: true, html: { multipart: true } do |f| %>

    <%= f.label :username  %>
    <br>
    <%= f.text_field :username, class: 'form-field-connect' %>
    <br><br>

    <%= f.label :email  %>
    <br>
    <%= f.text_field :email, class: 'form-field-connect' %>
    <br><br>

    <%= f.label :profile_image  %>
    <br><br>
    <%= f.file_field :profile_image, id: 'file-field', class: 'form-field-connect' %>
    <br><br>

    <%= f.label :password %>
    <br>
    <%= f.password_field :password, class: 'form-field-connect' %>
    <br><br>

    <%= f.label :password_confirmation %>
    <br>
    <%= f.password_field :password_confirmation, class: 'form-field-connect' %>
    <br><br>

    <%= f.hidden_field :eth_in_wallet, :value => 0 %>

    <%= f.submit %>
<% end %>

<% if @user.errors.any? %>
<p>Please correct the following errors:</p>
    <ul>
        <% @user.errors.full_messages.each do |e| %>
            <li>
                <%= e %>
            </li>
        <% end %>
    </ul>
<% end %>