<main class="profile">
    <div class="light top-of-page-light">
        <h1 id="profile">Profile</h1>
        <h2>Welcome to the MFC</h2>
    </div>
<div class="flex-row-stretch">

    <div id='profile-left' class="flex-column-start">

        <div id='profile-options' class='flex-column-start'>

            <h1> Hello, <%= @current_user.username %>.</h1>

            <%= cl_image_tag @current_user.profile_image, alt: @current_user.username, class: 'profile_image' %>

            <h3>What would you like to do?</h3>

            <div class="flex-column-flex-start-align">

                <% if @current_user.present? %>
                    
                    <h4 id='wallet_amount'>Available Funds In Wallet:</h2>
                    <h1 id='wallet_amount_number'><%= (@current_user.eth_in_wallet).round(2) %></h1>

                    <%= button_to "Add Funds", addfunds_path, method: "get", class: "buttonLink", id: "headButton" %>

                    <%= button_to "Edit Account", edit_user_path, method: "get", class: "buttonLink", id: "headButton" %>

                    <%= button_to "Tournaments", tournaments_index_path, method: 'get', class: "buttonLink", id: "headButton" %>

                    <%= button_to "Logout", login_path, method: 'delete', class: "buttonLink", id: "headButton" %>
            
                <% else %>
            
                    redirect_to login_path
            
                <% end %>

            </div>

        </div>

    </div>

    <div id='profile-right' class="flex-column-start">

        <div id='top-of-asset-grid' class='asset-grid'>

                <div class='asset-id asset-top-row'>
                    <h3>Fighter #</h3>
                </div>

                <div class='asset-id'>
                    <h3>Image</h3>
                </div>

                <div class='asset-id'>
                    <h3>ETH Won</h3>
                </div>      

                <div class='asset-id'>
                    <h3>Fights Won</h3>
                </div>

                <div class='asset-id'>
                    <h3>Fight</h3>
                </div>



            <% @user.nfts.order([:fights_won]).reverse.each do |nft| %>

                <div class='asset-id'>
                    <h3>#<%= link_to nft.id, nft_path(nft.id)  %></h3>
                </div>

                <div class='asset-id'>
                    <%= link_to image_tag(nft.image, class: "profile_asset_image"), nft_path(nft.id) %>
                </div>

                <div class='asset-id'>
                    <h3><%= link_to (nft.amount_won).round(2), nft_path(nft.id)  %></h3>
                </div>

                <div class='asset-id'>
                    <h3><%= link_to nft.wins, nft_path(nft.id)  %></h3>
                </div>

                <div class='asset-id'>
                    <h3><%= button_to 'Fight', fight_path(nft.id), method:'get', class: "buttonLink", id: "fightButton" %></h3>
                </div>

            <% end %>

        </div>

            <% if @user.nfts.all.count == 0 %>
                <div id='no-nfts-mint-section-under-table'>
                    <h1>You have no fighters!</h1>
                    <h3>Mint one now.</h3>
                    <%= button_to "Mint A Fighter", nfts_mint_path, method:'get', class: "buttonLink", id: "headButton" %>
                </div>

            <% end %>        

    </div>

</div>


</main>

