<main class="profile">
    <div class="light top-of-page-light">
        <h1 id="profile">Profile</h1>
        <h2>Welcome to the MFC</h2>
    </div>
<div class="flex-row-stretch">

    <div id='profile-left' class="flex-column-start">

        <div id='profile-options' class='flex-column-start'>

            <h1> Hello, <%= @current_user.username %>.</h1>

            <%= cl_image_tag @current_user.profile_image, alt: @current_user.username, class: 'profile_image' %>

            <h3>What would you like to do?</h3>

            <div class="flex-column-flex-start-align">

                <% if @current_user.present? %>
                
                <h4 id='wallet_amount'>Available Funds In Wallet:</h2>
                <h1 id='wallet_amount_number'><%= @current_user.eth_in_wallet %></h1>

                <%= button_to "Add Funds", addfunds_path, :method => "get", class: "buttonLink", id: "headButton" %>

                <%= button_to "Edit Account", edit_user_path, :method => "get", class: "buttonLink", id: "headButton" %>

                <%= button_to "Logout", login_path, method: 'delete', class: "buttonLink", id: "headButton" %>

                <div id='tournament-widget'>

                    <h1>Join Tournament</h1>
                    <h3><%= @tournament.nfts.count %> / 4</h3>

                    <% if (Tournament.last.nfts.includes(Nft.where user_id: user_id=@current_user.id).count > 0) %>

                        <h3>You already have a fighter in this tournament! Please wait.</h3>

                    <% else %>

                        <%= button_to 'Bet 0.2 ETH', nfts_tournament_path, method: 'get', class: "tournament-button" %>

                    <% end %> 


                </div>
            
                <% else %>
            
                    redirect_to login_path
            
                <% end %>

            </div>

        </div>

    </div>

    <div id='profile-right' class="flex-column-start">

        <div id='top-of-asset-grid' class='asset-grid'>

                <div class='asset-id asset-top-row'>
                    <h3>Fighter #</h3>
                </div>

                <div class='asset-id'>
                    <h3>Image</h3>
                </div>

                <div class='asset-id'>
                    <h3>ETH Won</h3>
                </div>      

                <div class='asset-id'>
                    <h3>Fights Won</h3>
                </div>

                <div class='asset-id'>
                    <h3>Fight</h3>
                </div>



            <% @user.nfts.order([:fights_won]).reverse.each do |nft| %>

                <div class='asset-id'>
                    <h3>#<%= link_to nft.id, nft_path(nft.id)  %></h3>
                </div>

                <div class='asset-id'>
                    <%= link_to image_tag(nft.image, class: "profile_asset_image"), nft_path(nft.id) %>
                </div>

                <div class='asset-id'>
                    <h3><%= link_to nft.amount_won, nft_path(nft.id)  %></h3>
                </div>

                <div class='asset-id'>
                    <h3><%= link_to nft.wins, nft_path(nft.id)  %></h3>
                </div>

                <div class='asset-id'>
                    <h3><%= button_to 'Fight', fight_path(nft.id), method:'get', class: "buttonLink", id: "fightButton" %></h3>
                </div>

            <% end %>
        </div>

    </div>

</div>


</main>

