<%= form_with model: @nft, local: true do |f| %>

<h2 class='mint-h2-body'>Be one of the only owners of the MFC.</h2>

<h1 class='mint-h1-body'><%= @nfts_unowned %> / <%= @total_nft_count %> remaining</h1>

    <%= f.hidden_field :user_id, value:@current_user.id %>
    <%= f.hidden_field :mint_season %>
    <%= f.hidden_field :mint_bracket %>
    <%= f.hidden_field :eye_colour %>
    <%= f.hidden_field :hair_style %>
    <%= f.hidden_field :hair_colour %>
    <%= f.hidden_field :skin_colour %>
    <%= f.hidden_field :shorts %>
    <%= f.hidden_field :facial_expression %>
    <%= f.hidden_field :body_type %>
    <%= f.hidden_field :handwear %>
    <%= f.hidden_field :background_colour %>
    <%= f.hidden_field :tattoos %>
    <%= f.hidden_field :total_fights %>
    <%= f.hidden_field :best_position %>
    <%= f.hidden_field :amount_won %>
    <%= f.hidden_field :image %>
    <%= f.hidden_field :fights_won %>
    <%= f.hidden_field :average_position %>
    
    <%= f.submit 'Mint' %>
<% end %>