<main class="fight">

    <h1 id="fight">Let's Fight</h1>

    <div class='fight-wrap'>
        <div id='fight-grid'>

            <div class='grid-header'><h1>Eth Prize Money: 0.4</h1></div>

            <div class='grid-sidebar'>

                <h1 class='sidebar-name'><%= @nft.user.username %></h1>

                <%= image_tag @nft.image, alt: @nft.id, id:'fighter_img_id', class: 'fighter_image' %>

                <h3 id='versus'>---- versus ----</h3>

                <%= image_tag @opponent.image, alt: @opponent.id, id:'fighter_img_id2', class: 'fighter_image' %> 

                <h1 class='sidebar-name'><%= @opponent.user.username %></h1>

            </div>
            
            <div class='grid-main'>
                <div id='fun-fight-comments'>

                    <div class="typewriter wrapper">

                        <p class="para" id='para1'></p>
                        <p class="para" id='para2'></p>

                        <p class="para" id='para3'></p>
                        <p class="para" id='para4'></p>

                        <p class="para" id='para5'></p>
                        <p class="para" id='para6'></p>

                    </div>  

                    <div id='winner'>

                        <h1 id='winner_announcement'></h1>

                        <%= image_tag @winner.image, alt: @winner.id, id:'winner_img', class: 'nft_image' %>
                    </div>

                </div>

            </div>

        <%# FIGHT THEM %>

    <script>
        const fighter = <%= @nft.id %>
        const fighterOwner = "<%= @nft.user.username %>"

        const opponent = <%= @opponent.id %>
        const opponentOwner = "<%= @opponent.user.username %>"

        const winner = <%= @winner.id %>
        const winnerOwner = "<%= @winner.user.username %>"

        const earlyFightStatusUpdates = [
        'tentatively moves around the Octagon...',
        'moves in closer...',
        'is testing his opponent with leg kicks.',
        'has come out swinging!',
        'is taunting, flexing his muscles! ',
        'nods to his corner. They are ready!',
        'throws a nice, measuring left jab.',
        'has ran at his opponent like a madman!',
        'turns to the crowd and asks for more noise.',
        'is just having a word with the referee.'
        ]

        const midFightStatusUpdates = [
        'tentatively moves around the Octagon...',
        'moves in closer...',
        'is testing his opponent with leg kicks.',
        'has come out swinging!',
        'is taunting, flexing his muscles! ',
        'nods to his corner. They are ready!',
        'throws a nice, measuring left jab.',
        'has ran at his opponent like a madman!',
        'turns to the crowd and asks for more noise.',
        'is just having a word with the referee.'
        ]

        const endFightStatusUpdates = [
        'tentatively moves around the Octagon...',
        'moves in closer...',
        'is testing his opponent with leg kicks.',
        'has come out swinging!',
        'is taunting, flexing his muscles! ',
        'nods to his corner. They are ready!',
        'throws a nice, measuring left jab.',
        'has ran at his opponent like a madman!',
        'turns to the crowd and asks for more noise.',
        'is just having a word with the referee.'
        ]

        const winningAttack = [
        'wins',
        'wins in emphatic fashion',
        'smashes his oppponent with a crushing fist.'
        ]

        function chooseUpdate (array) {
            const arrLength = array.length
            const randomNumber = Math.floor(Math.random() * arrLength)
            return array[randomNumber]
        }

        $('p.para').bind('appear', function() {
            $(this).fadeIn('slow', function() {
                $(this).next('p.para').delay(2000).trigger('appear');
        });
        }).prependTo('wrapper').end().first().trigger('appear');

        $(document).ready(function() {

        $('#live-fight-comment1').html(`${ fighterOwner } vs. ${ opponentOwner }`)
        $('#para1').html(`${ fighterOwner }(#${ fighter }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para2').html(`${ opponentOwner }(#${ opponent }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para3').html(`${ fighterOwner }(#${ fighter }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para4').html(`${ opponentOwner }(#${ opponent }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para5').html(`${ fighterOwner }(#${ fighter }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para6').html(`${ opponentOwner }(#${ opponent }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#winner_announcement').html(`${ winnerOwner }(#${ winner }) has won!!`)
        $('#winner_img')
        $('#winner').delay(17000).fadeIn(2000)
        });
        
    </script>
        
        
        
    </div>

</main>