<main class="fight">

    <h1 id="fight">Let's Fight</h1>

    <div class='fight-wrap'>
        <div id='fight-grid'>

            <div class='grid-header'><h1>Eth Prize Money: 0.4</h1></div>

            <div class='grid-sidebar'>

                <h1 class='sidebar-name'><%= @nft.user.username %></h1>

                <%= image_tag @nft.image, alt: @nft.id, id:'fighter_img_id', class: 'fighter_image' %>

                <h3 id='versus'>---- versus ----</h3>

                <%= image_tag @opponent.image, alt: @opponent.id, id:'fighter_img_id2', class: 'fighter_image' %> 

                <h1 class='sidebar-name'><%= @opponent.user.username %></h1>

            </div>
            
            <div class='grid-main'>
                <div id='fun-fight-comments'>

                    <div class="typewriter wrapper">

                        <p class="para" id='para1'></p>
                        <p class="para" id='para2'></p>

                        <p class="para" id='para3'></p>
                        <p class="para" id='para4'></p>

                        <p class="para" id='para5'></p>
                        <p class="para" id='para6'></p>

                    </div>  

                    <div id='winner'>

                        <h1 id='winner_announcement'></h1>

                        <%= image_tag @winner.image, alt: @winner.id, id:'winner_img', class: 'nft_image' %>
                    </div>

                </div>

            </div>

        <%# FIGHT THEM %>

    <script>
        const fighter = <%= @nft.id %>
        const fighterOwner = "<%= @nft.user.username %>"

        const opponent = <%= @opponent.id %>
        const opponentOwner = "<%= @opponent.user.username %>"

        const winner = <%= @winner.id %>
        const winnerOwner = "<%= @winner.user.username %>"

        const earlyFightStatusUpdates = [
            'touches gloves with his opponent',
            'refuses to touch gloves with his opponent',
            'taunts pointing to the centre of the octagon',
            'taunts slicing his hand across his throat',
            'raises his middle finger to the opponent',
            'runs at his opponent throwing a flying knee',
            'moves backwards leaning on the cage taunting',
            'slams his fist to his chest walking forward',
            'fakes the glove touch and jabs his opponent',
            'fakes the glove touch kicking his opponents leg',
            'attempts an immediate double leg takedown',
            'attempts an immediate single leg takedown',
            'refuses to meet in the middle circling the cage',
            'bounces towards the centre engaging',
            'starts quickly throwing a jab straight combination',
            'aims a leg kick to the lead leg of his opponent',
            'ducks under a punch and lands an early uppercut',
            'shows intention with a quick haymaker',
            'counters his opponent with a left hook',
            'counters his opponent with a jab straight combo',
            'avoids an early flurry and moves forward',
            'shows no fear charging towards his opponent',
            'attempts to duck but is caught on the chin early',
            'shows his fight IQ evading an early head kick',
            'lands a heavy body kick',
            'stuffs an early takedown',
            'pressures his opponent forcing him to back up',
            'dances towards his opponent with his hands down',
            'looks undeterred as his opponent marches forward',
            'ducks under an incoming head kick',
            'taunts his opponent as they meet in the middle',
            'attempts an early flurry to his opponents body',
            'keeps distance feeling out his opponent',
            'catches his opponent with an early right hook',
            'waits for his opponent to make the first move',
            'circles his opponent looking to counter',
            'presses his opponent up against the fence',
            'engages in an early exchange',
            'catches his opponent with an early flurry',
            'catches his opponent with a big strike',
            'evades an early flurry',
            'stuffs his opponents takedown attempt',
            'refuses to engage circling the cage',
            'aims a heavy leg kick at his opponent',
            'counters a leg kick with a heavy jab',
            'counters a jab with a heavy leg kick',
            'ducks a jab and counters with an uppercut',
            'looks to strike first with a wild haymaker',
            'misses with a flurry of punches',
            'knees his opponent to the body to avoid the clinch'
        ]

        const midFightStatusUpdates = [
            'begins to wear his opponent down with strikes',
            'looks like he is taking control of the fight',
            'evades another barrage as he moves backwards',
            'looks to be on top countering with a heavy jab',
            'avoids another heavy strike circling away',
            'aims a kick at his opponents already battered leg',
            'blocks another takedown refusing to go to the mat',
            'finally gets his opponent to the floor',
            'fails to take his opponent down again',
            'attempts another big takedown before gasping for air',
            'scrambles to get top position on his opponent',
            'escapes a submission before returning to his feet',
            'attempts a flying triangle on his opponent',
            'catches his opponent with a heavy strike',
            'catches his opponent with a devastating kick',
            'catches his opponent with a haymaker',
            'counters with an uppercut',
            'counters with a jab',
            'counters with a left hook',
            'counters with a right hook',
            'continues to hold his opponent against the cage',
            'maintains top position with heavy ground and pound',
            'scrambles to his feet after the takedown',
            'catches his opponent who refuses to go down',
            'knocks his opponent down with a huge overhand',
            'avoids a spinning back fist by centimetres',
            'Thai clinches his opponent throwing heavy knees',
            'Looks to be in control of the fight',
            'Lands a spinning body kick on his opponent',
            'throws an uppercut, his opponents rocked',
            'throws a jab, his opponents hurt',
            'throws a six punch combo hurting his opponent',
            'knocks his opponent to the ground with an uppercut',
            'knocks his opponent to the ground with a haymaker',
            'knocks his opponent to the ground with an overhand',
            'knocks his opponent to the ground with a head kick',
            'knocks his opponent to the ground with a huge knee',
            'counters with a spinning back fist',
            'has hurt his opponent this could be all over',
            'wont go down despite taking a beating',
            'takes yet another strike to the body',
            'is taking a beating how long can this last',
            'shows he is in the fight despite taking a beating',
            'is wearing his opponent down weaponising cardio',
            'shows signs of wearing as he begins to slow down',
            'doesn’t want to engage backing away',
            'continues to throw strikes moving backwards',
            'continues to defend the takedown',
            'continues to throw punches to the body',
            'continues to evade his opponents attacks',
        ]

        const endFightStatusUpdates = [
            'catches his opponent with a huge uppercut',
            'knocks his opponent down with a spinning kick',
            'knocks his opponent down with a jab straight combo',
            'knocks his opponent down with a counter',
            'knocks his opponent down with a check hook',
            'knocks his opponent down with a right hook',
            'knocks his opponent down with a combo',
            'knocks his opponent down with an elbow',
            'exchanges wildly with his opponent',
            'looks like he may have worn his opponent down',
            'is in the driving seat wearing his opponent down',
            'looks tired as he continues to evade strikes',
            'refuses to go down after copping big strikes',
            'refuses to tap to a tight guillotine',
            'refuses to tap to a tight triangle choke',
            'refuses to tap to a tight kimura',
            'refuses to tap to a tight bulldog choke',
            'refuses to tap to a tight arm bar',
            'escapes a tight guillotine',
            'escapes a tight triangle choke',
            'escapes a tight kimura',
            'escapes a tight arm bar',
            'lands a flying knee',
            'lands a spinning kick',
            'lands a spinning back fist',
            'has hurt his opponent this count be over',
            'knocks his opponent down following up',
            'continues to strike wildly with his opponent',
            'marches forward despite taking a beating',
            'points to the centre of the cage ready to brawl',
        ]

        const winningAttack = [
        'wins',
        'wins in emphatic fashion',
        'smashes his oppponent with a crushing fist.'
        ]

        function chooseUpdate (array) {
            const arrLength = array.length
            const randomNumber = Math.floor(Math.random() * arrLength)
            return array[randomNumber]
        }

        $('p.para').bind('appear', function() {
            $(this).fadeIn('slow', function() {
                $(this).next('p.para').delay(2000).trigger('appear');
        });
        }).prependTo('wrapper').end().first().trigger('appear');

        $(document).ready(function() {

        $('#live-fight-comment1').html(`${ fighterOwner } vs. ${ opponentOwner }`)
        $('#para1').html(`${ fighterOwner }(#${ fighter }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para2').html(`${ opponentOwner }(#${ opponent }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para3').html(`${ fighterOwner }(#${ fighter }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para4').html(`${ opponentOwner }(#${ opponent }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para5').html(`${ fighterOwner }(#${ fighter }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#para6').html(`${ opponentOwner }(#${ opponent }) ${ chooseUpdate(earlyFightStatusUpdates) }`)
        $('#winner_announcement').html(`${ winnerOwner }(#${ winner }) has won!!`)
        $('#winner_img')
        
        $('#winner').delay(17000).fadeIn(2000)
        });
        
    </script>
        
        
        
    </div>

</main>