<main>

    <div class="dark banner hometop">

        <div class="bannerDiv bannerDiv1">
        </div>

        <div class="bannerDiv bannerDiv2">
            <%= image_tag "MFC_White_Latest.png", height: 100 %>
            <h1>Metaverse Fighting<br>Championship</h1>
            <%# <p>The first Direct Eth Win NFT game</p> %>
            <button class="pageButton"><a class="buttonLink" href="/nfts/mint">Mint Now</a></button>
        </div>

        <div class="bannerDiv bannerDiv3">
        </div>

    </div>

    <div class="light">

        <div class="lightBlock">
            <h1>INTRODUCTION</h1>
            <p>The Metaverse Fighting Championship is a blockchain game that allows participation through ownership of NFTs.</p> 
            <p>Each token represents a fighter who will participate in tournaments giving you the chance to win ethereum prizes.</p>
        </div>
            <div>
                <%= image_tag 'fighters-carousel.gif', alt: 'check our fighters out!', class: 'home-fighter-carousel' %>
            </div>

    </div>

    <div class="blackBack">

        <div class="darkBlock">
            <h1>BUILD YOUR ROSTER</h1>
            <p>Participate in the Metaverse Fighting Championship by recruiting fighters and building your roster. The 16,384 Genesis fighters will be the only ones ever minted in the game. </p>
        </div>
        <div class="lightImageBlock">
        <%= image_tag "tale-of-the-tape.jpg", class: 'press-conference' %>
        </div>
    
    </div>

    <div class="light">

        <div class="lightBlock">
            <h1>EARN PRIZE MONEY</h1>
            <p>Participate in 32 man tournaments to win ethereum prizes. Maximum of 10 tournaments and 7.5 ethereum in prize money per fighter.</p>
        </div>
        <div class="lightImageBlock">
        <%= image_tag "tournament_example.png", class: "white-border-img", width: "600px" %>
        </div>
        
    </div>

        <div class="blackBack">

        <div class="darkBlock">
            <h1>TRAIN NEW FIGHTERS</h1>
            <p>Bring new fighters into the promotion and earn 0.02 ethereum per fighter recruited.</p>
        </div>
        <div class="lightImageBlock">
        <%= image_tag "MFC_PressConference_High.jpeg", class: 'press-conference' %>

        </div>
    
    </div>

</main>