<main>

    <div class="dark banner">

        <div class="bannerDiv bannerDiv1">
        </div>

        <div class="bannerDiv bannerDiv2">
            <%= image_tag "MFC-logo.png", height: 100 %>
            <h1>Metaverse Fighting Championship</h1>
            <p>The first Direct Eth Win NFT game</p>
            <button class="pageButton"><a class="buttonLink" href="/nfts/mint">Mint Now</a></button>
        </div>

        <div class="bannerDiv bannerDiv3">
        </div>

    </div>

    <div class="light">

        <div class="lightBlock">
            <h1>INTRODUCTION</h1>
            <p>The Metaverse Fighting Championship is a blockchain game that allows participation through ownership of NFTs.</p>
            <p>Each token represents a fighter who will participate in tournaments giving you the chance to win ethereum prizes. </p>
            <p>The Genesis season of MFC will allow fighters to participate in up to 10 rounds, offering a maximum prize of 0.75 ethereum per round and 7.5 ethereum in total for those early adopters who participate from the first round of competition.</p>
        </div>
        <div class="lightImageBlock">
        <%= image_tag "Models.png", height: 300 %>
        <%= image_tag "Models 2.png", height: 300 %>
        <%= image_tag "Models 3.png", height: 300 %>
        </div>

    </div>

    <div class="blackBack">

        <div class="darkBlock">
            <h1>BUILD YOUR ROSTER</h1>
            <p>Participate in the Metaverse Fighting Championship by recruiting fighters and building your roster.</p>
            <p>Sign a fighter and he will represent your team in all remaining rounds of the season.</p>
            <p>Each fighter on your roster will be entered into 1 bracket per round, sign more fighters to increase your chances of winning and participate in more competitions.</p>
        </div>
        <div class="lightImageBlock">
        <%= image_tag "trainingyardanimated.05e7e4a3.gif" %>

        </div>
    
    </div>

    <div class="light">

        <div class="lightBlock">
            <h1>EARN PRIZE MONEY</h1>
            <p>The Genesis season of MFC will take place over 10 rounds. Each round will draw every active fighter into a 32 man bracket.</p>
            <p>Fighters will participate in a knockout tournament with the final 2 of each bracket being awarded prize money. Winners will be awarded 0.75 eth and Runners Up 0.25 eth. </p>
            <p>There will be multiple brackets per round and multiple winners per round. Only active fighters will be able to compete however once active your fighter remains active for all rounds throughout the season.</p>
            <p>This means Round 1 fighters compete through 10 rounds and have the opportunity to win up to 7.5 ethereum in prize money.</p>
        </div>
        <div class="lightImageBlock">
        <%= image_tag "earnPrizeMoney.jpg" %>
        </div>
        
    </div>

        <div class="blackBack">

        <div class="darkBlock">
            <h1>TRAIN & EARN</h1>
            <p>After the completion of Round 6 MFC will be offering all active managers (including those who become active during rounds 7,8,9 or 10) a unique code that will be linked to their own personal gym. </p>
            <p>In order for new members to sign a fighter and join the world of MFC they must use a unique code to secure the contract. Each time you promote the Organization and bring a new fighter into existence you will be rewarded with 0.02 Ethereum rewards. </p>
            <p>These rewards will be paid out for every fighter signed in round 7-10. This will mean an accumulated 307 Ethereum will be paid out by MFC to promoters. </p>
        </div>
        <div class="lightImageBlock">
        <%= image_tag "trainteam.png", width: "900px" %>

        </div>
    
    </div>

</main>