<main class="mint">
    <div class="light top-of-page-light">
        <h1 id="mint">Tournaments</h1>
        <h2 id='mint-h2'>View or Play</h2>
    </div>

    <div class="flex-row-stretch">

        <div id='profile-left' class="flex-column-shrink">

            <div id='profile-options' class='flex-column-start'>

                <h1> Let's join a tournament, <%= @current_user.username %>!</h1>

                <%= cl_image_tag @current_user.profile_image, alt: @current_user.username, class: 'profile_image' %>

                <div class="flex-column-flex-start-align">

                    <% if @current_user.present? %>

                        <div id='tournament-widget'>

                            <%= link_to 'New Tournament', tournament_new_path, class: "new_tournament" %>

                            <%# TODO: Project TournamentLogic - change this back to how it was after testing %>

                        </div>

                        <h4 id='wallet_amount'>Available Funds In Wallet:</h2>
                        <h1 id='wallet_amount_number'><%= (@current_user.eth_in_wallet).round(2) %></h1>
                
                    <% else %>
                
                        redirect_to login_path
                
                    <% end %>

                </div>

            </div>
            
        </div>

        <div id='profile-right' class='flex-column-start'>

            <h1>Available Tournaments</h1>
                <div id='top-of-tournament-index-grid' class='tournament-asset-grid'>

                    <%# In the right column, show an index of the tournaments ordered by Tournament ID. This is the first/title row. %>
                    <div class='asset-id asset-top-row'>
                        <h3>Tournament #</h3>
                    </div>

                    <div class='asset-id'>
                        <h3>Contenders</h3>
                    </div>

                    <div class='asset-id'>
                        <h3>Players</h3>
                    </div>

                    <div class='asset-id'>
                        <h3>Joining Fee / Prize Pool</h3>
                    </div>      

                    <div class='asset-id'>
                        <h3>Click to watch</h3>
                    </div>

                    <% @available_tournaments.order([:id]).reverse.each do |t| %>
                        <div class='asset-id'>
                            <h3><%= t.id %></h3>                    
                        </div>
                        <div class='contenders-asset'>

                            <% if t.nfts.count > 0 %>
                                <% t.nfts.each do |nft| %>
                                <%= link_to image_tag(nft.image, class: "contender-in-index-image"), nft_path(nft.id) %>                   
                                <% end %>
                            <% else %>
                                <h3>None</h3>
                            <% end %>

                        </div>
                        
                        <div class='asset-id'>
                            <h3><%= (t.nfts.count) %> / <%=(t.tournament_size.to_i)%> </h3>
                        </div>

                        <div class='asset-id'>
                            <% if t.nfts.count > 0 %>
                                <h3>0.2 / <%= (t.tournament_size * 0.2).round(2) %> ETH</h3>
                            <% else %>
                                <h3>0.2 / 0</h3>
                            <% end %>

                        </div>
                        <div class='asset-id'>
                            <%= link_to 'Join', nfts_tournament_path(:id => t.id), method: 'get' %>
                        </div>
                    <% end %>

                </div>

            <h1 id='replays-header'>Replays</h1>
            <div id='top-of-tournament-index-grid' class='tournament-asset-grid'>

                <%# In the right column, show an index of the tournaments ordered by Tournament ID. This is the first/title row. %>
                <div class='asset-id asset-top-row'>
                    <h3>Tournament #</h3>
                </div>

                <div class='asset-id'>
                    <h3>Contenders</h3>
                </div>

                <div class='asset-id'>
                    <h3>Prize Pool</h3>
                </div>      

                <div class='asset-id'>
                    <h3>Champion</h3>
                </div>

                <div class='asset-id'>
                    <h3>Click to watch</h3>
                </div>

                <% @tournaments.order([:id]).reverse.each do |t| %>
                    <div class='asset-id'>
                        <h3><%= link_to t.id, tournament_path(t.id) %></h3>                    
                    </div>
                    <div class='contenders-asset'>
                        <% t.nfts.each do |nft| %>
                        <%= link_to image_tag(nft.image, class: "contender-in-index-image"), nft_path(nft.id) %>                   
                        <% end %>
                    </div>
                    <div class='asset-id'>
                        <h3><%= (t.nfts.count * 0.2).round(2) %> ETH</h3>
                    </div>
                    <div class='asset-id'>
                        <%= link_to image_tag(t.results[2].winner.image, class: 'contender-in-index-image'), nft_path(t.results[2].winner.id) %>
                    </div>
                    <div class='asset-id'>
                        <h3><%= button_to 'View', nfts_tournament_path(t.id), method: 'get' %></h3>                    
                    </div>
                <% end %>

            </div>
        </div>

    </div>
<div>



</div>

</main>